<!-- service-details.component.html -->
<div class="min-h-screen bg-gray-50">
    <app-service-header></app-service-header>

    <app-service-overview [service]="service" [stats]="stats" @cardWithContentAnimation>
    </app-service-overview>

    <app-service-items [serviceSections]="serviceSections" [serviceId]="service.id">
    </app-service-items>

    <app-top-service-providers [topWorkers]="topWorkers">
    </app-top-service-providers>

    <app-related-services [relatedServices]="relatedServices"></app-related-services>

</div>