:host {
  display: block;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-bottom: 180px;
}

.content-wrapper {
  padding: 0 1rem 120px;
  position: relative;
  z-index: 1;
  max-width: 640px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .content-wrapper {
    padding: 0 1rem;
  }
}