:host {
  display: block;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 64px - 72px);
}

.active-link {
  color: theme('colors.red.500');
}

.custom-title {
  font-family: 'Changa', 'Marhey', 'Ruwudu', sans-serif; 
  font-size: 2em;
}
