<div class="min-h-screen bg-gray-50">
  <app-search-header
    [services]="services"
    [mainServicesMap]="mainServicesMap">
  </app-search-header>

  <app-featured-slider></app-featured-slider>

  <!-- All Services Section -->
  <app-services-grid
    [services]="services"
    [isLoading]="isLoading"
    [cardStates]="cardStates"
    (serviceClick)="handleServiceClick($event)">
  </app-services-grid>

  <!-- Top Workers Section -->
  <app-top-workers
    [topWorkers]="topWorkers"
    [isLoading]="isLoading">
  </app-top-workers>

  <!-- Top Services Section -->
  <app-trending-services
  [topSubServices]="topSubServices"
  [isLoading]="isLoading"
  [mainServicesMap]="mainServicesMap">
  </app-trending-services>

</div>